<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container">
            <h2>Create an account </h2>
            <form action="/signup" method="POST">
            <label for="">Name</label>
            <input type="text"  class="form-control" name="name" placeholder="Enter Name">

            <label for="">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email">

             <label for="">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter password">
            <a href="/login">already have an account</a>
            <button class="btn btn-succuss" type="submit">Signup</button>
            </form>
        </div>
    </div>
</div>